# for both front end backend tools all
Python-3.10.11

fastapi

uvicorn

langchain
langchain-core
langchain-community
langchain-google-genai

langchain-pinecone
pinecone

tavily-python

python-dotenv

streamlit
requests
