langchain
langchain-core
langchain-community
langchain-google-genai
google-generativeai

langchain-huggingface
langchain-chroma
chromadb

tavily-python

sentence-transformers
transformers
torch

pdfplumber
python-dotenv

fastapi
uvicorn
requests
aiohttp

pysqlite3-binary
einops
